* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 300vh;
    background-image: url("http://getwallpapers.com/wallpaper/full/6/a/5/751575-widescreen-hd-texture-backgrounds-1920x1200-lockscreen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.titolo {
    width: 100vw;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.lista {
    width: 100vw;
    height: 100vh;
}

.lista h3 {
    width: 100%;
    height: 50px;
}

#multipli-fizz {
    width: 100vw;
    text-align: center;
}

#multipli-buzz {
    width: 100vw;
    text-align: center;
}

#multipli-fizz-buzz {
    width: 100vw;
    text-align: center;
}

.color {
    color: red;
}
